@import "../../sass/abstracts/_variables.scss";
.post-content {
  padding: 0 5rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__tag {
    padding: 0.2rem 0.6rem;
    font-size: 1.5rem;
    border-radius: 100px;
    background-color: #0aa18f;
    color: $white;
  }
  &__img-background {
    position: relative;
    height: 50vh;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    &::before {
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(
          to bottom,
          rgba($black, 0.8),
          rgba($black, 0.8)
        ),
        url("https://external-preview.redd.it/the-rising-of-the-shield-hero-season-3-new-visual-v0-x31hpzSRpbYrEiPfNXBbvlF1pRlkr3SBhEunMg8zM9E.jpg?width=1080&crop=smart&auto=webp&s=e6879fbcb9250a87a4c631a63056a816af882182");
      background-size: contain;
      filter: blur(40px);
      transform: scale(1.5);
      position: absolute;
    }
  }
  &__img {
    z-index: 1;
    width: 60%;
    margin: 0 auto;
  }
}
