* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: 75em) {
    font-size: 50%;
  }
  @media only screen and (max-width: 52em) {
    font-size: 43.75%;
  }
  @media only screen and (max-width: 31.25em) {
    font-size: 37.5%;
  }
}

button {
  border: none;
  background: transparent;
}

body {
  width: 65vw;
  margin: 0 auto;
  @media only screen and (max-width: 52em) {
    width: 100vw;
    margin: 0;
  }
}
