@import "../../sass/abstracts/_variables.scss";
@import "../../sass/abstracts/_mixins.scss";

.buttons {
  padding: 2.4rem;
  display: flex;
  gap: 0.8rem;
}

.btn {
  @include btn;
  background-color: $light-grey;
  color: $black;
  text-decoration: none;
  &--click {
    &:link,
    &:visited {
      transition: all 0.3s;
    }
    @media (hover: hover) {
      &:hover {
        background-color: #ddd;
      }
    }
    &:active {
      background-color: #ddd;
    }
  }
  &__icon {
    width: 1.6rem;
    height: 1.6rem;
  }

  &--vote {
    padding: 0.8rem;
    gap: 0.8rem;
    z-index: 1;
    cursor: default;
  }

  &--circle {
    cursor: pointer;
    height: 100%;
    border-radius: 50%;
    z-index: 1;

    &--up {
      @media (hover: hover) {
        &:hover {
          color: #ffa500;
        }
      }
      &--active,
      &:active {
        color: #ffa500;
      }
    }
    &--down {
      @media (hover: hover) {
        &:hover {
          color: #0000ff;
        }
      }
      &--active,
      &:active {
        color: #0000ff;
      }
    }
    &:link,
    &:visited {
      transition: all 0.3s;
    }
    @media (hover: hover) {
      &:hover {
        position: relative;
        &::before {
          z-index: -1;
          position: absolute;
          top: 50%;
          left: 50%;
          content: "";
          background-color: #ddd;
          height: 2.8rem;
          width: 2.8rem;
          border-radius: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    &:active {
      position: relative;
      &::before {
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        background-color: #ddd;
        height: 2.8rem;
        width: 2.8rem;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
