@import "../../sass/abstracts/_variables.scss";
@import "../../sass//abstracts/mixins.scss";

.options-card {
  @include card;
  padding: 1.5rem 2.5rem;
  top: 110%;
  right: 0%;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.7rem;
  color: $grey;
  cursor: pointer;
  background-color: $white;
  z-index: 9999;
  transition: all 0.3s;
  &:hover,
  &:visited {
    background-color: $light-grey;
  }
}
